<section ng-init="vm.getAll()">
    <div class="page-header">
    </div>
    <br/>
    <div class="table-responsive">
        <fieldset>
            <legend align="right">Textile Printing List</legend>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Reference</th>
                    <th>Description</th>
                    <th>Retail price</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody ng-init="vm.getAll()">
                <tr ng-repeat="textilePrinting in vm.response">
                    <td>{{textilePrinting.reference}}</td>
                    <td>{{textilePrinting.description}}</td>
                    <td>{{textilePrinting.retailPrice}}</td>
                    <td>{{textilePrinting.type}}</td>
                    <td style="vertical-align: middle;">
                        <input class="btn btn-danger" type="button" value="Delete" ng-click="vm.removeTextilePrinting(textilePrinting.id)">
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="no-data" ng-if="vm.data.length === 0">
                <div class="panel-body"> No textilePrinting found</div>
            </div>
        </fieldset>
    </div>
</section>
