<section class="container">
	<div class="jumbotron text-center">
		<fieldset>
			<legend>Feature02. <b>Update Registration.</b></legend>
			<form class="form-horizontal" ng-submit="vm.update()">
                
                <div class="form-group">
                	<label class="control-label col-sm-2 " for="providerSelected">Provider</label>
					<div class='col-sm-10' ng-init="vm.init()">
	                    <div> 
		                    <select class="form-control" name='providerSelected' ng-model="vm.providerSelected"  ng-options="providerSelected as providerSelected.company for providerSelected in vm.providers" required>
		                    <option value="">Seleccionar</option>
							</select>
	                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 " for="company">Company:</label>
                    <div class='col-sm-10'>
                        <input type='text' class="form-control" ng-model='vm.providerSelected.company' required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 " for="address">Address:</label>
                    <div class='col-sm-10'>
                        <input type='text' class="form-control" ng-model='vm.providerSelected.address' />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 " for="mobile">Mobile:</label>
                    <div class='col-sm-10'>
                        <input type="number" class="form-control" ng-model='vm.providerSelected.mobile'
                            required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 " for="paymentConditions">Payment conditions:</label>
                    <div class='col-sm-10'>
                        <input type='text' class="form-control" ng-model='vm.providerSelected.paymentConditions'/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 " for="note">Notes:</label>
                    <div class='col-sm-10'>
                        <input type='text' class="form-control" ng-model='vm.providerSelected.note'/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2 ">
                        <input type="submit" class="btn btn-primary " value="Enviar">
                    </div>
                    <label class="bg-success col-sm-6" ng-show="vm.completed">Petición
                        correcta</label> <label class="bg-danger col-sm-6" ng-show="vm.error">Error</label>
                </div>
            </form>
	        <div align="center">
	            <span class="author" >Author: Javier Molina</span>
	        </div>
            
		</fieldset>
	</div>
</section>
