<section class="container">
    <div class="jumbotron text-center">
        <fieldset>
            <legend>Feature06. Editar Ticket</legend>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-10 " for="name">Introduzca referencia del ticket:</label>
                    <div class='col-sm-10'>
                        <input type='text' class="form-control" ng-model='vm.ticketReference' required/>
                        <button class="btn btn-primary btn-sm" ng-click="vm.searchTicket()">Buscar ticket</button>
                    </div>
                </div>
                <br>
                <h2>Modifique la cantidad de compras de productos o elimine las compras que no necesite:</h2>
                <br>
                <div class="form-group">
                    <table class="table  table-hover data-table sort display">
                        <thead>
                            <tr>
                                <th class="idProducto">Id producto</th>
                                <th class="cantidad">Cantidad</th>
                                <th class="descuento">Descuento</th>
                                <th class="descripcion">Descripción</th>
                                <th class="precioAlPorMenor">Precio al por menor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="shopping in vm.shoppings">
                                <td>{{shopping.productId}}</td>
                                <td><div contenteditable>{{shopping.amount}}</div></td>
                                <td>{{shopping.discount}}</td>
                                <td>{{shopping.description}}</td>
                                <td>{{shopping.retailPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 " for="type">Evolucionar el estado del ticket de {{vm.previousState}} a:</label>
                    <div class='col-sm-10'>
                        <select name="type" ng-model="vm.ticketState" required>
                            <option>OPENED</option>
                            <option>STARTED</option>
                            <option>COMMITTED</option>
                            <option>CLOSED</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <button class="btn btn-primary btn-sm" ng-click="vm.editTicket()">Modificar Ticket</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</section>
