<section class="container">
	<div class="jumbotron text-center">
		<fieldset>
			<legend>Feature10. Editar alarmas</legend>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Artículos</th>
						<th width="10%">Valor</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr>
						<td colspan="3">No hay alarmas</td>
					</tr> -->
					<tr>
						<td style="vertical-align: middle;">Alarma test</td>
						<td>
							<ul>
								<li>Artículo de prueba 1</li>
								<li>Artículo de prueba 2</li>
								<li>Artículo de prueba 3</li>
							</ul>
						</td>
						<td style="vertical-align: middle;"><input type="text"
							class="form-control" name="value" value="3"></td>
						<td style="vertical-align: middle;"><button type="button"
								class="btn btn-info btn-sm" data-toggle="modal"
								data-target="#myModal">Guardar</button></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</section>