<section class="container">
	<div class="jumbotron text-center">
		<fieldset>
			<legend>Feature10. Listado de alarmas</legend>
			<div ng-show="vm.send && vm.successEdit && vm.completed"
				class="alert alert-success">
				<strong>¡CORRECTO!</strong> La alerta se modificó correctamente
			</div>
			<div ng-show="vm.send && vm.successCreate && vm.completed"
				class="alert alert-success">
				<strong>¡CORRECTO!</strong> La alerta se creó correctamente
			</div>
			<div ng-show="vm.send && vm.successRemove && vm.completed"
                class="alert alert-success">
                <strong>¡CORRECTO!</strong> La alerta se eliminó correctamente
            </div>
			<div class="row text-left">
				<button type="button" class="btn btn-primary btn-sm"
					data-toggle="modal" data-target="#modalCreacion"
					ng-click="vm.getProducts()">Crear alarma</button>
			</div>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Artículos</th>
						<th>Tipo</th>
						<th width="10%">Valor</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="5" ng-hide="vm.successList">Cargando...</td>
					</tr>
					<tr>
						<td colspan="5" ng-show="vm.successList && !vm.alarms.length">No
							hay alarmas</td>
					</tr>
					<tr ng-show="vm.successList && vm.alarms.length"
						ng-repeat="alarm in vm.alarms track by $index">
						<td style="vertical-align: middle;">{{ alarm.name }}</td>
						<td>
							<ul>
								<li ng-repeat="article in alarm.articleList">{{
									article.description }}</li>
							</ul>
						</td>
						<td style="vertical-align: middle;">{{ alarm.type }}</td>
						<td style="vertical-align: middle;">{{ alarm.value }}</td>
						<td style="vertical-align: middle;">
							<button type="button" class="btn btn-info btn-sm"
								data-toggle="modal" data-target="#modalEdicion"
								ng-click="vm.loadData($index)">Editar</button>
							<button type="button" class="btn btn-danger btn-sm"
								ng-click="vm.removeAlarm($index)">Eliminar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
</section>

<div id="modalCreacion" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Crear alarma</h4>
			</div>
			<div class="modal-body">
				<div ng-show="vm.send && !vm.successCreate && !vm.completed"
					class="alert alert-danger">
					<strong>¡ERROR!</strong> La alerta no se pudo crear
				</div>
				<div class="form-group">
					<label for="new-name">Nombre:</label> <input type="text"
						class="form-control" name="new-name" ng-model="vm.modifData.newName" />
				</div>
				<div class="form-group">
					<label>Productos:</label>
					<div class="row" style="max-height: 150px; overflow: auto;">
						<div class="col-md-2"
							ng-repeat="newProduct in vm.modifData.newProducts track by $index">
							<input type="checkbox" name="newProducts"
								ng-click="vm.selectProduct($index)"
								ng-checked="newProduct.selected" /> {{ newProduct.reference }}
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="type">Tipo:</label> <select name="type"
						ng-model="vm.modifData.newType">
						<option value='WARNING'>Warning</option>
						<option value='CRITICAL'>Critical</option>
					</select>
				</div>
				<div class="form-group">
					<label for="value">Valor:</label> <input type="number" min="0"
						class="form-control" name="value" ng-model="vm.modifData.newValue" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info btn-sm"
					ng-click="vm.createAlarm()">Crear</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<div id="modalEdicion" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Editar alarma</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="new-name">Nombre:</label> <input type="text"
						class="form-control" name="new-name" ng-model="vm.modifData.newName" />
				</div>
				<div class="form-group">
					<label>Productos:</label>
					<div class="row" style="max-height: 150px; overflow: auto;">
						<div class="col-md-2"
							ng-repeat="newProduct in vm.modifData.newProducts track by $index">
							<input type="checkbox" name="newProducts"
								ng-click="vm.selectProduct($index)"
								ng-checked="newProduct.selected" /> {{ newProduct.reference }}
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="type">Tipo:</label> <select name="type"
						ng-init="vm.modifData.newType = 'WARNING'"
						ng-model="vm.modifData.newType">
						<option value='WARNING'>Warning</option>
						<option value='CRITICAL'>Critical</option>
					</select>
				</div>
				<div class="form-group">
					<label for="value">Valor:</label> <input type="number" min="0"
						class="form-control" name="value" ng-model="vm.modifData.newValue" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info btn-sm"
					ng-click="vm.editAlarm()">Guardar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>