/*

CSS style sheet for feature 8.9

*/

body {
	background: url("../../feature8.9/img/invoice.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-container {
    background-color: white;
    border-radius: 10px;
}

h3, h2 {
	padding-top: 20px;
}

h3, h2, .form-group {
    padding-left: 20px;
    padding-right: 20px;
}

#button-container {
	padding-top: 10px;
}

.form-container .form-group:last-child {
	padding-bottom: 20px;
}

.ticketAttribute {
    font-style: italic;
    text-decoration: underline;
}